@mixin xxl() {
  @media (max-width: 1900px) {
    @content;
  }
}

@mixin xl() {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin lg() {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin md() {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin sm() {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin ssm() {
  @media (max-width: 440px) {
    @content;
  }
}


